OPENAI_API_KEY="paste_your_key_here"
UNSTRUCTURED_API_KEY="paste_your_key_here"
CHUNKING_STRATEGY="structure-aware"  # or "character-based"

const firebaseConfig = {
  apiKey: "firebase api key",
  authDomain: "firebase auth domain",
  projectId: "firebase project id",
  storageBucket: "firebase storage bucket",
  messagingSenderId: "firebase messaging sender id",
  appId: "firebase app id",
  measurementId: "firebase measurement id"
};